@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: #fafbff;
    overflow-x: hidden;
    box-sizing: border-box;
}
.container {
    max-width: 1120px;
}

.btn-main {
    color: #fff;
    background: #ff6609;
    box-shadow: 1px 1px 5px #9d5b1e33;
    border-radius: 4px;
    font-weight: 700;
    line-height: 30px;
}
.box__shadow {
    box-shadow: 0px 2px 15px rgba(219, 203, 192, 0.3);
}
.scrollbar-style::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
.scrollbar-style::-webkit-scrollbar-thumb {
    background: #e5e5e5;
    border-radius: 10px;
}
